@using Shared

@{
    Layout = "_Layout";
    ViewBag.Title = "Погода";
}

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .weather-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 15rem;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 0 1rem lightgrey;
        text-align: center;
    }
    
    .city {
        font-weight: bold;
    }
</style>

<div class="weather-block">
@foreach (var city in ViewBag.Cities)
{
    try
    {
        var weather = await WeatherService.GetWeather(city.Trim());
        var iconSrc = $"http://openweathermap.org/img/wn/{weather.IconId}@2x.png";

        <div class="weather">
            <p class="city">@city</p>
            <img src="@iconSrc" alt="@weather.Description">
            <p>@weather.Description</p>
            <p>@weather.Temperature ℃</p>
        </div>
    }
    catch (Exception exception)
    {
        Console.WriteLine(exception);
    }
}
</div>