@using Shared

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Результат</title>

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin: 0;
    }
    
    .weather-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 15rem;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 0 1rem lightgrey;
        text-align: center;
    }
    
    .city {
        font-weight: bold;
    }
</style>

<div class="weather-block">
@foreach (var city in ViewBag.Cities)
{
    var weather = await WeatherService.GetWeather(city.Trim());
    var iconSrc = $"http://openweathermap.org/img/wn/{weather.IconId}@2x.png";

    <div class="weather">
        <p class="city">@city</p>
        <img src="@iconSrc" alt="@weather.Description">
        <p>@weather.Description</p>
        <p>@weather.Temperature ℃</p>
    </div>
}
</div>